/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 sep. 2025, 15:26:31
    Author     : moren
*/

@import url('global.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Quicksand:wght@300..700&display=swap');
body{
    
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    font-family: 'Quicksand', sans-serif;
}

nav{
    padding:10px;
    
}

nav .logo{
   margin-right: 50px;
}

nav.logo img{
    height: 70px;
}

nav a{
    font-family: "Alan Sans" , sans-serif;
    color: var(--nav-links);
    font-weight: 600;
    
}

nav ul{
    display: inline;
}
nav li{
    list-style-type: none;
    display: inline;
    margin-left: 20px;
}
header {
    position: relative;
}
header img{
    width: 100%;
    height: 85vh;
    object-fit: cover
}
header h1{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50px;
    font-family: "Alan Sans", sans-serif;
    width: 60%;
    font-size: 4rem;
}
header span{
    font-style: italic;
    font-weight: 500;
    color: var(--highlight);
}

#news{
    margin-top: 30px;
    padding: 20px;
    display: inline;
    
}
article{
    width: 30%;
    min-width: 270px;
    padding:10px;
}
article img{
    display: block;
    margin: auto;
    width: 80%;
    max-width: 300px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: top;
}